{% extends 'base.html' %}
{% load static %}
{% block title %}Profil{% endblock %}

{% block content %}
<h1>
    Profil
</h1>
{% with profile=user.profile%}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <td rowspan="16"><img src="{% static 'images/boyskaut_open.png' %}" class="img-fluid img-responsive" alt="SKAUT"></td>
                    <td class=""><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    {% if profile %}
                        <td rowspan="4"><h2>{{profile.nickname|default:""}}</h2></td>
                    {% else %}
                        <td rowspan="4"><h2>{{user.username}}</h2></td>
                    {% endif %}
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                    <td><img src="{% static 'images/path2791-4.png' %}" class="img-fluid img-responsive" alt="point"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    {{ profile.bio|default:""}}
</div>
{% endwith %}
{% endblock %}